.reviewBottomListItem {
  display: flex;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid #eaeced;

  > div {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      width: 5%;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    &:nth-child(2) {
      width: 65%;
      line-height: 15px;

      .gradeValue {
        em {
          margin-left: 5px;
        }
      }

      span {
        font-size: 12px;
        color: #676767;
        margin-top: 3px;

        svg {
          color: #dbdbdb;
        }

        svg.checked {
          color: #ff6a6a;
        }
      }

      .userInfo {
        em {
          display: inline-block;
          width: 2px;
          height: 2px;
          margin: 0 4px;
          border-radius: 50%;
          background: #888;
          vertical-align: middle;
        }
      }
      p {
        margin-top: 3px;
      }
    }
    &:nth-child(3) {
      flex-direction: row;
      justify-content: center;
      width: 20%;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }
    &:nth-child(4) {
      width: 10%;
      justify-content: center;
      align-items: center;

      span {
        padding: 10px 15px;
        border: 1px solid #e5e7eb;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;

        svg {
          color: #ff6a6a;
          margin-right: 5px;
          pointer-events: none;
        }
      }
    }
  }
}
