<<<<<<< HEAD
=======
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f5f6f7;

  img {
    width: 300px;
  }
  .loginContainer {
    h1 {
      text-align: center;
      padding-top: 100px;
      a {
        color: #28cf6c;
        text-decoration: none;
        font-size: 60px;
        font-weight: bold;
      }
    }
  }
  .userBox {
    display: grid;
    .userAvail {
      color: #ff4540;
      font-size: 13px;
      transform: translate(0, 9px);
    }
    .pwAvail {
      color: #ff4540;
      font-size: 13px;
      transform: translate(0, 9px);
    }

    justify-content: center;
    .IdBox {
      margin-top: 30px;
      .idInput {
        padding-left: 10px;
        height: 45px;
        width: 400px;
        border: solid 1px #dadada;
        &:focus {
          outline: 1px solid #28cf6c;
        }
      }
    }
    .pwBox {
      margin-top: 15px;
      .pwInput {
        padding-left: 10px;
        height: 45px;
        width: 400px;
        border: solid 1px #dadada;
        &:focus {
          outline: 1px solid #28cf6c;
        }
      }
    }

    .loginBox {
      margin-top: 15px;
      .loginBtn {
        height: 45px;
        width: 400px;
        color: #fff;
        font-size: 18px;
        border: solid 1px rgba(0, 0, 0, 0.08);
        background-color: #4abf6a;
      }
    }

    .labelBox {
      display: flex;
      margin-top: 10px;

      span {
        font-size: 17px;
        color: #333333;
        transform: translate(8px, 8px);
      }
      label {
        font-size: 25px;
        color: #9fa5a7;
      }
      #checkIcon {
        display: none;
      }

      #checkIcon:checked + label {
        color: #4abf6a;
      }
    }
  }
}
>>>>>>> c4793716f6417af3e0319328e0c6423256d2d9f2
