.categoryList {
  // border: 1px solid red;
  font-size: 14px;

  display: flex;
  justify-content: space-between;
  align-content: center;

  .categoryMenu {
    width: 80px;
    // border: 1px solid black;
    font-size: 15px;

    .subMenuList {
      display: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
      width: 120px;
      margin: 10px auto;
      padding: 5px;
      font-size: 11px;
      text-align: center;
      background-color: white;
      border-radius: 5%;

      .subMenu {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: #4abf6a;
      }
    }
  }

  .categoryMenu:hover .subMenuList {
    display: block;
  }
}
