<<<<<<< HEAD
=======
.main {
  .mainContainer {
    .hotCategory,
    .products {
      width: 70%;
      margin: 80px auto 40px;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
  }
}
>>>>>>> c4793716f6417af3e0319328e0c6423256d2d9f2
