.main {
  .mainContainer {
    .hotCategory,
    .products {
      width: 70%;
      margin: 80px auto 40px;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
  }
}
