<<<<<<< HEAD
=======
.main {
  .mainContainer {
    .hotCategory,
    .products {
      width: 70%;
      margin: 80px auto 40px;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
  }
}
>>>>>>> 1e4249f1f092db91322c119857a874f12450e8a6
