.QAContainer {
  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  > p {
    font-size: 11px;
    color: #8f8f8f;
  }
  .QABtnWrap {
    margin-top: 15px;

    button {
      width: 130px;
      height: 36px;
      background: #333;
      color: #fff;
      font-size: 12px;
      border: none;
      cursor: pointer;
    }
  }
  .QAListContainer {
    margin-top: 20px;
    font-size: 12px;
    border-top: 2px solid #000000;
    border-bottom: 1px solid #dadada;
    .QATitle {
      display: flex;
      border-bottom: 1px solid #dadada;
      li {
        text-align: center;
        padding: 20px;
        font-weight: 700;
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 65%;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 11%;
        }
      }
    }
    .QAList {
      display: flex;
      cursor: pointer;

      &.active + .QAAnswer {
        display: block;
      }
      li {
        padding: 20px;
        text-align: center;
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 65%;
          text-align: left;
        }
        &:nth-child(3) {
          width: 10%;
        }
        &:nth-child(4) {
          width: 11%;
        }
      }
    }
    .QAAnswer {
      display: none;
      position: relative;
      padding: 10px 0;
      background: #f6f8fa;
      button {
        position: absolute;
        top: 20px;
        right: 0;
        width: 40px;
        background: transparent;
        border: none;
        font-size: 12px;
        color: #b9b9b9;
        cursor: pointer;

        &.editBtn {
          right: 80px;
        }
        &.removeBtn {
          right: 40px;
        }
      }
      li {
        padding: 15px 0;
        text-indent: 54px;
        &:nth-child(1) {
          border-bottom: 1px solid #dadada;
        }
        &:nth-child(2) {
          &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-left: 1px solid #8f8f8f;
            border-bottom: 1px solid #8f8f8f;
            margin-bottom: 1px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .QAPage {
    margin-top: 50px;
    .PageBox {
      display: flex;
      justify-content: center;
      align-content: center;
      li {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        background: #333;
        color: #fff;
        font-weight: 700;
        text-align: center;
        line-height: 30px;
      }
    }
  }
}
