.morePoint {
  padding: 14px 16px;
  margin-top: 14px;
  border: 1px solid #dee0e2;
  background: #f7f8fa;
  font-size: 13px;

  > div {
    margin-top: 7px;
  }

  .moreTotal {
    display: flex;
    justify-content: space-between;
    font-weight: 700;

    .totalTitle {
      em {
        color: #bd383f;
        font-style: italic;
      }
    }
  }

  .moreMembership {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;

    .membershipLeft {
      display: flex;
      align-items: center;

      > span {
        position: relative;
        padding: 1px 4px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 50%;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 50%;
        }
        em {
          position: relative;
          color: #fff;
          z-index: 1;
        }
      }
      .leftNLogo {
        &::before {
          background: #44e568;
        }

        &::after {
          background: #3db866;
        }
      }

      .leftPlus {
        &::before {
          background: #1fbbf2;
        }

        &::after {
          background: #1e9bf5;
        }
      }

      .leftMembership {
        &::before {
          background: #4f90ee;
        }

        &::after {
          height: 50%;
          background: #505fdc;
        }
      }

      .leftInfo {
        position: relative;
        color: #acadad;
        text-decoration: underline;
        &::before {
          display: none;
        }
        &::after {
          content: ">";
          left: auto;
          right: -5px;
          width: auto;
          transform: translateY(-50%);
        }
      }
    }
  }

  .morePointPay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;

    .pointPayLeft {
      display: flex;

      > span {
        display: inline-flex;
        align-items: center;
        padding: 1px 4px;
        em {
          color: #fff;
        }
      }
      .leftNLogo {
        background: #38c243;
      }

      .leftPercent {
        border: 1px solid #38c243;
        em {
          color: #38c243;
        }
      }

      .leftInfo {
        position: relative;
        color: #acadad;
        text-decoration: underline;
        &::after {
          content: ">";
          position: absolute;
          top: 50%;
          right: -5px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
