.morePointInfo {
  margin: 0 16px 13px;
  padding: 15px;
  border: 1px solid #dce0e3;
  background: #f7f8fa;

  .morePointMain {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    .mainTitle {
      font-weight: 700;
      em {
        color: red;
        font-style: italic;
        margin-right: 4px;
      }
    }
    .mainValue {
      font-weight: 700;
      em {
        font-weight: normal;
        margin-left: 3px;
      }
    }
  }

  .subPointBox {
    margin-top: 5px;
    font-size: 12px;

    .subPointList {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;

      .NIcon,
      .PlusIcon,
      .MembershipIcon {
        position: relative;
        display: inline-block;
        height: 12px;
        font-weight: 700;
        font-size: 9px;
        color: #fff;
        vertical-align: bottom;
        &::before,
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 7px;
          z-index: 1;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        em {
          position: absolute;
          display: block;
          margin: 0;
          top: 1.5px;
          left: 50%;
          font-size: 7px;
          transform: translateX(-50%);
          text-decoration: none;
          z-index: 2;
        }
      }
      .NIcon {
        width: 12px;
        &::before {
          background: #46ee5b;
        }
        &::after {
          background: #38c859;
        }
      }

      .PlusIcon {
        width: 12px;
        &::before {
          background: #1ebcf5;
        }
        &::after {
          background: #1e9bf5;
        }
      }
      .MembershipIcon {
        width: 35px;
        em {
          font-size: 9px;
          width: 27px;
        }
        &::before {
          background: #4d91f0;
        }
        &::after {
          background: #505fdd;
        }
      }

      .PercentIcon {
        display: inline-block;
        height: 12px;
        vertical-align: middle;
        border: 1px solid #38c859;
        padding: 0 2px;
        em {
          font-size: 9px;
          margin: 0;
          color: #38c859;
          text-decoration: none;
        }
      }
      > div {
        color: #adadad;
        em {
          text-decoration: underline;
          margin-left: 3px;
        }
        &::after {
          content: ">";
          color: #adadad;
          margin-left: 3px;
        }
      }
    }
  }
}
