.modal {
  width: 100%;

  .modalReview {
    text-align: center;
    padding: 18px 0;
    color: white;
    background-color: #02c73c;
    font-weight: bold;
  }

  .modalHead {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;

    .modalImage {
      width: 70px;
      height: 70px;
    }

    .modalName {
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;

    .modalSatisfy {
      font-size: 20px;
      margin: 10px 0;
    }

    .modalStar {
      & svg {
        color: #c7c7c7;
        cursor: pointer;
      }

      :hover svg {
        color: red;
      }

      :hover ~ svg {
        color: #c7c7c7;
      }

      .red {
        color: red;
      }
    }

    .modalStarContent {
      display: flex;
      justify-content: center;
      padding-top: 5px;

      .modalStarGood {
        color: red;
      }
    }
  }

  .modalText {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;

    .modalTextContent {
      width: 450px;
      height: 200px;
      background: #f4f4f4;
      border: 1px solid #cbcbcb;
    }
  }

  .modalBtn {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    .modalBtnRight {
      margin-left: 5px;
    }

    .modalBtnLeftCancle,
    .modalBtnLeftRegister {
      width: 180px;
      height: 40px;
    }

    .modalBtnLeftCancle {
      background-color: white;
      border: 1px solid lightgray;
    }

    .modalBtnLeftRegister {
      border: 1px solid lightgray;
      font-weight: bold;
      background-color: rgb(216, 214, 214);
      color: white;
    }
  }
}
