.deliverBanner {
  margin: 20px 0;
  .bannerTitle {
    display: inline-block;
    margin: 10px 0;
  }
  .bannerInfo {
    display: flex;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 30px 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
    .leftContent {
      border-right: 1px solid #ededed;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 3px;
        margin-bottom: 5px;
        background: #6b90dc;
        border-radius: 50%;
        color: #fff;
        padding: 3px;
      }
      span {
        display: flex;
        align-items: center;
      }
      strong {
        margin: 7px 0 10px;
        font-size: 20px;
        font-weight: 700;
        em {
          color: #6b90dc;
        }
      }
    }
    .rightContent {
      font-size: 13px;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20px;
        margin: 2px 0;
        span {
          width: 80px;
          &:first-of-type {
            width: 50px;
          }
        }
        .percentBar {
          position: relative;
          width: 40%;
          height: 3px;
          margin: 0 20px;
          display: inline-block;
          background: #e9ebef;
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #999;
          }
        }

        &:nth-child(1) {
          .percentBar {
            &::after {
              width: 40%;
            }
          }
        }
        &:nth-child(2) {
          span {
            &:last-child {
              color: #6b90dc;
            }
          }
          .percentBar {
            &::after {
              width: 41%;
              background: #6b90dc;
            }
          }
        }
        &:nth-child(3) {
          .percentBar {
            &::after {
              width: 17%;
            }
          }
        }
        &:nth-child(4) {
          .percentBar {
            &::after {
              width: 2%;
            }
          }
        }
      }
    }
  }
}
