.header {
  position: absolute;
  top: 0;
  width: 100%;
  text-decoration: none; //왜???안될까????
  nav {
    height: 190px;

    .homeAndMyInfoContainer {
      border-bottom: 1px solid black;

      .homeAndMyInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 60px;
        margin: 0 auto;
        font-size: 16px;
        color: black;

        .goToHome {
          font-weight: 900;
          .homeText {
            text-decoration: none; ///왜???WHY????안될까????
          }
        }

        .myInfo {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 240px;
          .logInBtn {
            background-color: transparent;
            border-radius: 5%;
            border: 1px solid black;
            padding: 5px 10px;
          }
          .menuIcon {
            margin-left: 15px;
            font-size: 25px;
            opacity: 60%;
          }
          span {
            margin-left: 10px;
          }
        }
      }
    }

    .logoAndSearch {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      padding-top: 20px;

      .forAlign {
        width: 180px;
      }

      .logo {
        width: 200px;
      }

      .searchBox {
        position: relative;
        width: 180px;
        height: 30px;

        .search {
          width: 100%;
          padding: 10px 12px 10px 12px;
          border: 1px solid black;
          border-radius: 8px;
          // background-color: transparent;
        }

        .searchImg {
          position: absolute;
          top: 10px;
          right: 12px;
          width: 16px;
        }
      }
    }
  }
}
