.footer {
  position: relative;
  height: 400px;
  line-height: 20px;
  margin-top: 60px;

  .footerText {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 100;
    color: white;

    .footerTitle {
      margin: 20px 0;
      font-size: 16px;
      font-weight: 900;
    }

    .footerTop {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
    }

    .footerBottom {
      border-top: 1px solid white;
      padding-top: 30px;
    }
  }

  .footerBackground {
    background-color: #4abf6a;
    height: 400px;
  }
}
