.productContainer {
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;

  .productImg {
    width: 250px;
    border-radius: 5%;
  }

  .price {
    margin: 10px 0 5px;
    font-weight: 700;
  }
}
