.productContainer {
  width: 300px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;

  .productImgContainer {
    width: 250px;
    position: relative;
    &:hover {
      .iconsContainer {
        opacity: 1;
      }
    }
    .productImg {
      width: 250px;
      border-radius: 5%;
    }

    .typeBox {
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      .itsNew,
      .itsBest {
        width: 50px;
        height: 25px;
        padding: 3px;
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }

      .itsNew {
        background-color: #6acc87;
      }
      .itsBest {
        background-color: #6db8e4;
      }
    }

    .iconsContainer {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.3s ease-out;

      .heartAndShoppingBag {
        display: flex;
        justify-content: center;
        align-items: center;

        .redHeart {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          color: white;
          opacity: 50%;
          width: 50px;
          height: 50px;
          border: none;
          margin: 0 3px;
          border-radius: 50%;
        }

        .whiteHeart,
        .whiteShoppingBag {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          opacity: 50%;
          width: 50px;
          height: 50px;
          border: none;
          margin: 0 3px;
          border-radius: 50%;
        }
      }
    }
  }

  .price {
    margin: 10px 0 5px;
    font-weight: 700;
  }
}
