.signup {
  width: 100%;
  height: 100vh;
  background-color: #f5f6f7;

  .container {
    display: grid;
    justify-content: center;
  }
  .navar_logo {
    h1 {
      text-align: center;
      padding-top: 50px;
    }
    a {
      color: #28cf6c;
      text-decoration: none;
      font-size: 60px;
      font-weight: bold;
    }
  }

  .join_form {
    .userInputBox {
      .pwConfirm {
        color: #ff4540;
        transform: translate(0, 9px);
      }
      .pwCheck {
        color: #ff4540;
        display: grid;
        transform: translate(0px, 10px);
        font-size: 13px;
      }
      .userId {
        position: relative;
        span {
          position: absolute;
          right: 15px;
          bottom: 10px;
          color: #767676;
        }
        .multiCheck {
          position: absolute;
          top: 70px;
          left: 3px;
          font-size: 14px;

          &.correct {
            color: #03c75a;
          }

          &.duplicate {
            color: #ff4540;
          }
        }
      }

      p {
        margin-top: 35px;
        font-weight: bold;
        font-size: 14px;
      }
      .userInputId {
        height: 45px;
        width: 458px;
        border: solid 1px #dadada;
        outline: none;
      }
      .users_id {
        height: 45px;
        width: 458px;
        border: solid 1px #dadada;
        &:focus {
          outline: 1px solid #28cf6c;
        }
      }
      .userPw {
        position: relative;
        .active {
          color: #ff4540;
          font-size: 25px;
          position: absolute;
          right: 15px;
          top: 28px;
        }
        .openLock {
          position: absolute;
          right: 15px;
          bottom: 10px;
          font-size: 25px;
          color: #767676;
        }
      }

      .checkPw {
        position: relative;

        .action {
          color: #ff4540;
          font-size: 25px;
          position: absolute;
          right: 15px;
          top: 25px;
        }
        .checkLock {
          position: absolute;
          right: 15px;
          bottom: 10px;
          font-size: 25px;
          color: #767676;
        }
      }
    }
    .userEmail {
      .emailInput {
        height: 45px;
        width: 458px;
        border: solid 1px #dadada;
      }
    }
    .phoneBox {
      span {
        color: #fff;
      }
      .phoneInput {
        height: 45px;
        width: 320px;
        border: solid 1px #dadada;
        &:focus {
          outline: 1px solid #28cf6c;
        }
      }
      .phoneBtn {
        margin-left: 12px;
        height: 45px;
        width: 126px;
        background-color: #03c75a;
        border: solid 1px rgba(0, 0, 0, 0.08);
      }
    }
    .joinBox {
      .joinBtn {
        margin-top: 30px;
        height: 45px;
        width: 458px;
        color: #fff;
        font-size: 18px;
        border: solid 1px rgba(0, 0, 0, 0.08);
        background-color: #03c75a;
      }
    }
  }
}
@media (max-width: 768px) {
}
