.slickBanner {
  z-index: -20;

  .slickBannerImgAndCopy {
    position: relative;

    .slickBannerBanckgroundImg {
      width: 100%;
      height: 800px;
      background-position: center;
    }

    .copyContainer {
      position: absolute;
      top: 35%;
      left: 15%;
      right: 15%;
      text-align: left;

      .bigCopy {
        margin: 15px 0;
        font-size: 60px;
        font-weight: 700;
      }

      .bigCopyWhite {
        margin: 15px 0;
        font-size: 60px;
        font-weight: 700;
        color: white;
      }

      .smallCopy {
        margin-top: 30px;
        font-size: 22px;
      }

      .smallCopyWhite {
        margin-top: 30px;
        font-size: 22px;
        color: white;
      }
    }
  }
}
