.myPageNav {
  height: 120px;
  background-color: rgb(76, 194, 76);
  color: white;

  .myPageNavTop {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(156, 152, 152);

    .myPageNavTopRight {
      display: flex;

      .myPageNavTopRightMyPage {
        margin-right: 10px;
      }
    }

    .myPageNavTopLeftLine {
      padding-right: 20px;
    }
  }

  .myPageNavBottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;

    .myPageNavBottomLeft {
      font-size: 30px;
    }

    .myPageNavBottomRight {
      display: flex;
      font-size: 20px;

      .myPageNavBottomRightAccount,
      .myPageNavBottomRightPoint,
      .myPageNavBottomRightSend,
      .myPageNavBottomRightGift,
      .myPageNavBottomRightBenefit,
      .myPageNavBottomRightAsk {
        margin-left: 40px;
      }
    }
  }
}

.shoppingBasketMain {
  width: 1150px;
  margin-left: 145px;

  .shoppingBasketNavTop {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 40px;

    .shoppingBasketNavTopLeft {
      display: flex;

      .shoppingBasketNavTopLeftNormal {
        font-size: 24px;
      }

      .shoppingBasketNavTopLeftUsing {
        padding: 5px 0 0 10px;
        color: rgb(165, 162, 162);
        font-size: 20px;
      }
    }

    .shoppingBasketNavTopRight {
      display: flex;

      .shoppingBasketNavTopRightBasket {
        font-weight: bold;
      }

      .shoppingBasketNavTopRight,
      .shoppingBasketNavTopRightSuccess {
        padding-left: 10px;
        color: rgb(165, 162, 162);
      }
    }
  }
  .shoppingBasketNavBottom {
    padding: 10px;
    border: 1px solid lightgray;
    background-color: rgb(238, 235, 235);

    .shoppingBasketNavBottomFirst,
    .shoppingBasketNavBottomSecond,
    .shoppingBasketNavBottomThird {
      padding: 10px;
      font-size: 14px;
      opacity: 0.7;
    }

    .shoppingBasketNavBottomFirst {
      color: rgb(7, 192, 7);
    }
  }

  .shoppingBasketArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

    .shoppingBasketArticleBasket {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
      border: 1px solid lightgray;
      border-radius: 50px;
      background-color: lightgray;
    }

    .shoppingBasketArticleNone,
    .shoppingBasketArticlePut {
      margin-bottom: 25px;
    }

    .shoppingBasketArticleNone {
      font-size: 18px;
      font-weight: bold;
    }

    .shoppingBasketArticlePut {
      color: rgb(161, 159, 159);
      font-size: 15px;
    }

    .shoppingBasketArticleContinue {
      width: 200px;
      height: 50px;
      border: 1px solid lightgray;
      background-color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .shoppingProduct {
    margin-top: 50px;
    width: 100%;
  }

  .shoppingProductMenu {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    font-weight: bold;

    .shoppingProductMenuInfo {
      width: 40%;
      text-align: center;
    }

    .shoppingProductMenuOpt {
      width: 20%;
    }

    .shoppingProductMenuPrice {
      width: 10%;
    }

    .shoppingProductMenuDelivery {
      width: 10%;
    }

    .shoppingProductMenuInfo,
    .shoppingProductMenuOpt,
    .shoppingProductMenuPrice,
    .shoppingProductMenuDelivery {
      text-align: center;
    }
  }

  .shoppingProductList {
    display: flex;
    height: 130px;
    border-bottom: 1px solid lightgray;

    .shoppingProductListName {
      display: flex;
      width: 45%;
      padding-top: 20px;
      padding-left: 30px;
      border-right: 1px solid lightgray;

      .shoppingProductListBox {
        padding-top: 40px;
        margin-right: 20px;
      }

      .shoppingProductListNameImg {
        width: 100px;
        height: 100px;
      }

      .shoppingProductListNameItem {
        margin-bottom: 10px;
        margin-right: 40px;
      }

      .shoppingProductListNamePrice {
        font-size: 14px;
      }

      .shoppingProductListNameItemCheck {
        position: absolute;
        right: 775px;
        color: rgb(167, 164, 164);
        cursor: pointer;
      }

      .shoppingProductListNameItem,
      .shoppingProductListNamePrice {
        padding-left: 10px;
        font-weight: bold;
      }
    }

    .shoppingProductListOption {
      width: 25%;
      padding-top: 20px;
      padding-left: 20px;
      border-right: 1px solid lightgray;

      .shoppingProductListOptionSize {
        width: 240px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        font-size: 13px;
      }
    }

    .shoppingProductListPrice {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15%;
      padding-top: 20px, 0;
      border-right: 1px solid lightgray;

      .shoppingProductListPriceIndividual {
        font-weight: bolder;
        font-size: 15px;
      }

      .shoppingProductListPriceOrder {
        width: 60px;
        height: 30px;
        margin-top: 10px;
        border: 0;
        border-radius: 5px;
        color: white;
        background-color: #00c63a;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .shoppingProductListDelivery {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      padding-top: 20px 0;

      .shoppingProductListDeliveryMoney {
        text-align: center;
        font-size: 15px;
      }
    }
  }
  .shoppingProductListTotal {
    display: flex;
    height: 120px;
    margin: 50px 0;
    border-top: 1px solid #9ca0aa;
    border-bottom: 1px solid #9ca0aa;

    .shoppingProductListTotalLeft {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 20px 0;
      border-right: 1px solid lightgray;

      .shoppingProductListTotalLeftL {
        display: flex;
        padding-right: 20px;
        font-size: 13px;

        .shoppingProductListTotalLeftLL {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .shoppingProductListTotalLeftLTotal {
          padding-top: 2px;
          margin-bottom: 10px;
        }

        .shoppingProductListTotalLeftLPrice {
          padding-left: 2px;
          font-size: 23px;
        }

        .shoppingProductListTotalLeftLPlus {
          padding: 15px 0 15px 17px;
        }
      }

      .shoppingProductListTotalLeftR {
        display: flex;
        flex-direction: column;

        .shoppingProductListTotalLeftRDelivery {
          text-align: center;
          font-size: 13px;
        }

        .shoppingProductListTotalLeftRPrice {
          padding-top: 2px;
          font-size: 23px;
        }
      }

      .shoppingProductListTotalLeftRDelivery {
        margin-bottom: 8px;
      }
    }
    .shoppingProductListTotalRight {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .shoppingProductListTotalRightHead {
        display: flex;
        align-items: center;
        height: 50px;

        .shoppingProductListTotalPrice {
          font-size: 19px;
          margin-right: 10px;
          padding-top: 2px;
        }

        .shoppingProductListTotalPriceInt {
          font-size: 24px;
          font-weight: bold;
          color: #00c63a;
        }
      }
    }
  }
}

.shoppingProductButton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .shoppingProductButtonL {
    margin-right: 10px;

    .shoppingProductButtonLeft {
      width: 200px;
      height: 60px;
      font-size: 17px;
      background-color: white;
      border: 1px solid lightgray;
    }
  }

  .shoppingProductButtonRight {
    width: 200px;
    height: 60px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #00c63a;
  }
}
